{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-aboutuspage{% endblock %}


{% block content %}
    <div class="clear"></div><!-- 内容main开始 -->
    <!-- banner -->
    {% image wallpaper original as wallpaper_original %}
    <div id="banner2" style="background: url('{{ wallpaper_original.url }}') center top / cover no-repeat;"></div>

    <!-- content -->
    <div class="product main-wrap" id="product">

        {% include "aboutus/aboutus_header.html" %}

        <div class="content col-md-12 col-md-first col-md-last wow fadeInUp">
            <div class="content_text">
                <div class="content_title">{{ page.title }}</div>

                <div class="content_title_s">
                    <em>
                        <u>发布日期</u>
                        <i class="fa fa-clock-o"></i>
                        {{ page.date }}                    &nbsp;·&nbsp;
                        来源
                        <i class="fa fa-smile-o"></i>
                        有你瑜伽学院                </em>
                </div>
            </div>
            <div style="text-indent:2em;text-align: left;">
                {% for block in page.body %}
                    {% if block.block_type == "图片" %}
                        <p align="center">
                        {% image block.value width-1000 %}
                        </p>
                        <div class="fix" style="height: 20px;"></div>
                    {% elif block.block_type == "标题" %}
                        <h2 style="text-align: center">{{ block.value }}</h2>
                        <div class="fix" style="height: 20px;"></div>
                    {% else %}
                        {% include_block block %}
                        <div class="fix" style="height: 20px;"></div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="fix" style="height: 25px;"></div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function () {

    $('.VivaTimeline').vivaTimeline({
      carousel: true,
      carouselTime: 3000
    });

    $("#submit_btn").click(function () {
      var apply_name = $("#apply_name").val();
      var apply_phone = $("#apply_phone").val();
      var apply_content = $("#apply_content").val();
      if (apply_name == "") {
        $("#apply_name").addClass("has-error");
        $("#apply_name").focus();
        return false;
      } else if (apply_phone == "") {
        $("#apply_name").removeClass("has-error");
        $("#apply_phone").addClass("has-error");
        $("#apply_phone").focus();
        return false;
      } else if (apply_content == "") {
        $("#apply_name").removeClass("has-error");
        $("#apply_phone").removeClass("has-error");
        $("#apply_content").addClass("has-error");
        $("#apply_content").focus();
        return false;
      } else {
        $("#apply_content").removeClass("has-error");
        $("#apply_form").submit();
      }
    });
  });


  var wow = new WOW({
    boxClass: 'wow',
    animateClass: 'animated',
    offset: 0,
    mobile: true,
    live: true
  });
  wow.init();

  function display(li){
    li.className='sub active';
    var subdis=li.getElementsByTagName("ul")[0];
    subdis.style.display="block";
  }
  function ndisplay(li){
    li.className='sub noactive';
    var subdis=li.getElementsByTagName("ul")[0];
    subdis.style.display="None";
  }
  var preBtn=document.querySelectorAll('.pre-btn');
  for (var j=0; j<preBtn.length; j++) {
    preBtn[j].onclick = function(){
      this.style.display='none';
      this.parentNode.querySelector('.pre-load').style.display='none';
      myframe=this.parentNode.querySelector('iframe');
      framesrc=myframe.attributes["data-src"].value;
      myframe.setAttribute("src",framesrc);
    }
  }
</script>
{% endblock %}


