{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="clear"></div><!-- 内容main开始 -->
    <!-- banner -->
    {% image wallpaper original as wallpaper_original %}
    <div id="banner2" style="background: url('{{ wallpaper_original.url }}') center top / cover no-repeat;"></div>

    <!-- content -->
    <div class="product main-wrap" id="product">

        <div class="col-md-12 col-md-first col-md-last">
        <ul class="crumb_menu wow fadeInUp">
        <div id="bread_crumbs">
            <div class="crumb_box clear">
                <ul class="crumb_menu">
                    <li><a href="/">首页</a><span> ></span></li>
                    <li><a href="/news/?cate=news">热点资讯</a></li>
                </ul>
            </div>
        </div>
        </ul>
        </div>

        <div class="fix" style="height:50px;"></div>
        <div class="nav2 wow fadeInUp">

            <a href="{% slugurl 'news' %}?cate=news" {% if cate == 'news' %} class="on" {% endif %}>瑜伽动态</a>
            <a href="{% slugurl 'news' %}?cate=wiki" {% if cate == 'wiki' %} class="on" {% endif %}>瑜伽百科</a>
        </div>

        <div class="fix" style="height:50px;"></div>

        <!-- NewsList start -->
        <div class="bg-white wow fadeInUp">
            <div class="w1200">

                {% for newspage in newspages %}

                    <div class="col-md-12 col-md-first col-md-last none-p">
                    <div class="row">
                        <div class="col-md-4 col-md-first">
                            <div class="sitewidget-bd">
                                {% with newspage.thumbnail_image as thumbnail_image %}
                                <a class="imgBox-news mobile-imgBox" href="{% pageurl newspage %}">
                                    {% image thumbnail_image fill-370x207 %}
                                    <span class="picture-description-bg hidden"></span>
                                    <span class="picture-description">
                                    <span class="ccc1"></span>
                                    <span class="ccc2"></span>
                                </span>
                                </a>
                                {% endwith %}
                            </div>
                        </div>

                        <div class="col-md-8 col-md-first">
                            <div class="sitewidget-bd">
                                <div class="k-box">
                                    <div class="k-t1"><a href="{% pageurl newspage %}">{{ newspage.title }}</a></div>
                                    <div class="fix"></div>
                                    <div class="k-t4">
                                        <em>
                                            <u>发布日期</u>
                                            <i class="fa fa-clock-o"></i>
                                            {{ newspage.date }}
                                        </em>
                                    </div>
                                    <div class="fix"></div>
                                    <div class="k-t3">
                                        {% if newspage.intro %}
                                           {{ newspage.intro|truncatewords:20 }}
                                        {% else %}
                                            {% for block in newspage.body %}
                                                {% if block.block_type == "段落" %}
                                                {{ block.value|richtext|truncatewords_html:20 }}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="k-more2"><a href="{% pageurl newspage  %}">点击了解详情>></a></div>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                    <div class="fix" style="height: 50px;"></div>
                {% endfor %}



                <!-- 分页开始 -->
                <div id="page">
                    <ul id="yw0" class="yiiPager">
                        {% if newspages.has_previous %}
                        <li class="prev_page"><a href="?{% if tag %}tag={{ tag }}&{% endif %}cate={{ cate }}&page={{ newspages.previous_page_number }}">&laquo;</a></li>
                        {% endif %}
                        {% for page_num in newspages.paginator.page_range %}
                            <li class="page  {% if page_num == newspages.number %} selected {% endif %}">
                                <a href="?{% if tag %}tag={{ tag }}&{% endif %}&cate={{ cate }}&page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% endfor %}
                        {% if newspages.has_next %}
                        <li class="next_page"><a href="?{% if tag %}tag={{ tag }}&{% endif %}cate={{ cate }}&page={{ newspages.next_page_number }}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="fix" style="height: 50px;"></div>
                <!-- 分页结束 -->

                <div class="fix" style="height: 50px;"></div>
            </div>
        </div>


        {% include "course/you_may_like_page.html" %}
        {% include "course/about_course_footer.html" %}

    </div>


{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function () {

    $('.VivaTimeline').vivaTimeline({
      carousel: true,
      carouselTime: 3000
    });

    $("#submit_btn").click(function () {
      var apply_name = $("#apply_name").val();
      var apply_phone = $("#apply_phone").val();
      var apply_content = $("#apply_content").val();
      if (apply_name == "") {
        $("#apply_name").addClass("has-error");
        $("#apply_name").focus();
        return false;
      } else if (apply_phone == "") {
        $("#apply_name").removeClass("has-error");
        $("#apply_phone").addClass("has-error");
        $("#apply_phone").focus();
        return false;
      } else if (apply_content == "") {
        $("#apply_name").removeClass("has-error");
        $("#apply_phone").removeClass("has-error");
        $("#apply_content").addClass("has-error");
        $("#apply_content").focus();
        return false;
      } else {
        $("#apply_content").removeClass("has-error");
        $("#apply_form").submit();
      }
    });
  });


  var wow = new WOW({
    boxClass: 'wow',
    animateClass: 'animated',
    offset: 0,
    mobile: true,
    live: true
  });
  wow.init();

  function display(li){
    li.className='sub active';
    var subdis=li.getElementsByTagName("ul")[0];
    subdis.style.display="block";
  }
  function ndisplay(li){
    li.className='sub noactive';
    var subdis=li.getElementsByTagName("ul")[0];
    subdis.style.display="None";
  }
  var preBtn=document.querySelectorAll('.pre-btn');
  for (var j=0; j<preBtn.length; j++) {
    preBtn[j].onclick = function(){
      this.style.display='none';
      this.parentNode.querySelector('.pre-load').style.display='none';
      myframe=this.parentNode.querySelector('iframe');
      framesrc=myframe.attributes["data-src"].value;
      myframe.setAttribute("src",framesrc);
    }
  }
</script>
{% endblock %}
