{% load static %}

<!-- footer start -->
<footer class="wow fadeInUp">
    <div class="fix" style="height:80px;"></div>
    <div class="footer-nav">
        <div class="col-md-4 hidden">
            <li><a href="/aboutus/intro">学院简介</a></li>
            <li><a href="/aboutus/milestone">发展历程</a></li>
            <li><a href="/aboutus/environment">学习环境</a></li>
            <li><a href="/aboutus/cobranch">合作机构</a></li>
            <li><a href="/aboutus/contactus">联系我们</a></li>
        </div>
        <div class="col-md-4">
			<div class="nav-foot-title">栏目导航</div>
			<div class="nav-foot">
                <li><a href="/aboutus/intro">关于我们</a></li>
                <li><a href="/course/?cate=workshop">热门课程</a></li>
                <li><a href="/mentor/?cate=signing">师资队伍</a></li>
                <li><a href="/trainee/?cate=story">学员动态</a></li>
                <li><a href="/news/?cate=news">热点资讯</a></li>
            </div>
        </div>
        <div class="col-md-4">
			<div class="nav-foot-title">联系我们</div>
			<div class="nav-foot2">
			<li>电话：0592-5044355</li>
			<li>总部地址：厦门市思明区建业路18号4F无界瑜伽</li>
			<li></li>
			</div>
        </div>
        <div class="col-md-4">
			<div class="nav-foot-title">扫一扫</div>
			<div class="ewm">
				<div>
					<li><img src="{%  static 'themes/default/styles/images/weibo.png' %}"><br/>官方微博</li>
				</div>
				<div>
					<li><img src="{%  static 'themes/default/styles/images/weixin.jpeg' %}"><br/>官方微信</li>
				</div>
                <div>
                    <li><img src="{%  static 'themes/default/styles/images/weixin-asst.jpeg' %}"><br/>微信客服</li>
                </div>
			</div>
        </div>

        <div class="fix"></div>

    </div>

    <div class="fix"></div>
    <div class="footer-logo">
		<div class="footer-logo-img">
            <img src="{% static 'images/logo.png' %}">
        </div>
		<div class="footer-logo-bg"></div>
	</div>

    <div class="fix"></div>
    <div class="links col-md-12 col-md-first col-md-last">
        <span>友情连接：</span>
        <span><a href="index.html" title="瑜伽教练培训班" target="_blank">瑜伽教练培训班</a></span>
        <span><a href="http://www.hlcxy.com/" title="拓展训练" target="_blank">拓展训练</a></span>
        <span><a href="https://www.yinuokuaiji.cn/" title="代理记账" target="_blank">代理记账</a></span>
        <span><a href="http://www.chuangdianhuashi.com/" title="北京画室" target="_blank">北京画室</a></span>
        <span><a href="http://www.cnkice.com/" title="知网检测" target="_blank">知网检测</a></span>
        <span><a href="http://www.wenduguoji.com/" title="留学" target="_blank">留学</a></span>
        <span><a href="http://www.cdhsjy.com/" title="消防工程师培训" target="_blank">消防工程师培训</a></span>
        <span><a href="index.html" title="瑜伽教练培训" target="_blank">瑜伽教练培训</a></span>
    </div>
    <div class="fix"></div>
    <div class="outerContainer col-md-12 col-md-first col-md-last">
        版权所有 © 2019 有你瑜伽学院
    </div>
</footer>

<!-- footer end -->
