{% load static wagtailcore_tags wagtailimages_tags  %}

<div class="bg-else wow fadeInUp">
    <div class="w1200">
        <div class="col-md-12 col-md-first col-md-last">
            <div class="row">
                <div class="fix" style="height:50px;"></div>

                <div class="col-md-4 col-md-first">
                    <div class="sitewidget-bd">
                        <div class="else-m">
                            <p class="else-title">ABOUT COURSE</p>
                            <p class="else-second-title" data-wow-delay="0.5s">关于课程</p>
                            <p class="else-text" data-wow-delay="0.5s">学院专门针对瑜伽习练者开设瑜伽师资认证、一线导师提升工作坊等专业性课程</p>
                            <div class="fix" style="height: 20px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-md-first">
                    <div class="sitewidget-bd">
                        <div class="else-m">
                            <p class="else-title">DETAILS</p>
                            <p class="else-second-title" data-wow-delay="0.5s">如何上课</p>
                            <p class="else-text" data-wow-delay="0.5s">每天9：00-18：00开设课程，上课请提前与工作人员联系</p>
                            <div class="fix" style="height: 20px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-md-first">
                    <div class="sitewidget-bd">
                        <div class="else-m">
                            <p class="else-title">PROCESS</p>
                            <p class="else-second-title" data-wow-delay="0.5s">报名流程</p>
                            <p class="else-text" data-wow-delay="0.5s">
                                1、添加课程老师；
                                2、预约线下测试；
                                3、填写入学申请表；
                                4、缴纳学费完成报名
                            </p>
                            <div class="fix" style="height: 20px;"></div>
                        </div>
                    </div>
                </div>

                <div class="fix" style="height:50px;"></div>

            </div>
        </div>
    </div>
</div>

