{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-coursepage{% endblock %}

{% block content %}
    <div class="clear"></div><!-- 内容main开始 -->
    <!-- banner -->
    {% image wallpaper original as wallpaper_original %}
    <div id="banner2" style="background: url('{{ wallpaper_original.url }}') center top / cover no-repeat;"></div>

    <!-- content -->
    <div class="product main-wrap" id="product">
        <div class="col-md-12 col-md-first col-md-last">
            <ul class="crumb_menu wow fadeInUp">
            <div id="bread_crumbs">
                <div class="crumb_box clear">
                    <ul class="crumb_menu">
                        <li><a href="/">首页</a><span> ></span></li>
                        <li><a href="/course/?cate=faculty">热门课程</a> ></li>
                        <li><a href="/course/?cate={{ page.category }}">{{ page.get_category_display }}</a></li>
                    </ul>
                </div>
            </div>
            </ul>
        </div>

        <div class="content col-md-12 col-md-first col-md-last wow fadeInUp">
            <div class="content_text">
                <div class="content_title">{{ page.title }}</div>

                <div class="content_title_s">
                    <em>
                        <u>发布日期</u>
                        <i class="fa fa-clock-o"></i>
                        {{ page.date }}                    &nbsp;·&nbsp;
                        来源
                        <i class="fa fa-smile-o"></i>
                        有你瑜伽学院                </em>
                </div>
            </div>
            <div class="content_text" style="text-indent:2em;text-align: left;">
               {% for block in page.body %}
                    {% if block.block_type == "图片" %}
                        <p align="center">
                        {% image block.value width-1000 %}
                        </p>
                    {% elif block.block_type == "标题" %}
                        <h2 style="text-align: center;">{{ block.value }}</h2>
                    {% else %}
                        {% include_block block %}
                    {% endif %}
               {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
{% endblock %}


