{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-courseindexpage{% endblock %}

{% block content %}

    <div class="bg-white wow fadeInUp">
        <div class="w1200">

                            <div class="col-md-12 col-md-first col-md-last none-p">
                    <div class="row">

                        <div class="col-md-6 col-md-first">
                            <div class="sitewidget-bd">
                                <a class="imgBox-rmkc mobile-imgBox" href="../9.html">
                                    <img src="../../uploads/images/201807/550e5fb5af6.png" alt="瑜伽教练培训-周未班" />
                                    <span class="picture-description-bg hidden"></span>
                                    <span class="picture-description">
                                    <span class="ccc1"></span>
                                    <span class="ccc2"></span>
                                </span>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 col-md-first">
                            <div class="sitewidget-bd">
                                <div class="k-box">
                                    <div class="k-t1"><a href="../9.html">瑜伽教练培训-周未班</a></div>
                                    <div class="k-t2">每月-开课</div>
                                    <div class="fix" style="height: 30px;"></div>
                                    <div class="k-t3">TBWAVE【周末班优势】<br />
<br />
周末班学习，利用业余时间，提升精进。适合白领上班族，利用工作之余的时间打造完美身体形象，更能获得一项新技能，为自由职业生涯打下基础！自由职业才是未来趋势！</div>
                                    <div class="k-more"><a href="../9.html">点击了解详情>></a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="fix" style="height: 50px;"></div>
                            <div class="col-md-12 col-md-first col-md-last none-p">
                    <div class="row">

                        <div class="col-md-6 col-md-first">
                            <div class="sitewidget-bd">
                                <a class="imgBox-rmkc mobile-imgBox" href="../8.html">
                                    <img src="../../uploads/images/201807/6fde49a05c5.png" alt="瑜伽教练培训-全日制" />
                                    <span class="picture-description-bg hidden"></span>
                                    <span class="picture-description">
                                    <span class="ccc1"></span>
                                    <span class="ccc2"></span>
                                </span>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 col-md-first">
                            <div class="sitewidget-bd">
                                <div class="k-box">
                                    <div class="k-t1"><a href="../8.html">瑜伽教练培训-全日制</a></div>
                                    <div class="k-t2">每月-开课</div>
                                    <div class="fix" style="height: 30px;"></div>
                                    <div class="k-t3">TBWAVE【全日班优势】<br />
<br />
全日制脱产学习，集中训练，重塑形象，社群学习模式，高效学习，更能拓展人脉，激活朋友圈价值链，打造个人品牌的新开端！每月开班(学习+考试+就业时间38天左右，学习全长约30-38天)</div>
                                    <div class="k-more"><a href="../8.html">点击了解详情>></a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="fix" style="height: 50px;"></div>
                            <div class="col-md-12 col-md-first col-md-last none-p">
                    <div class="row">

                        <div class="col-md-6 col-md-first">
                            <div class="sitewidget-bd">
                                <a class="imgBox-rmkc mobile-imgBox" href="../762.html">
                                    <img src="../../uploads/images/201810/c0ff80779db.png" alt="晨练课-龙青源老师亲自授课" />
                                    <span class="picture-description-bg hidden"></span>
                                    <span class="picture-description">
                                    <span class="ccc1"></span>
                                    <span class="ccc2"></span>
                                </span>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 col-md-first">
                            <div class="sitewidget-bd">
                                <div class="k-box">
                                    <div class="k-t1"><a href="../762.html">晨练课-龙青源老师亲自授课</a></div>
                                    <div class="k-t2">每月-开课</div>
                                    <div class="fix" style="height: 30px;"></div>
                                    <div class="k-t3">TBWAVE【晨练班优势】<br />
<br />
亚洲TB瑜伽学院创始人龙青源老师经过10余年的晨练，精选研发晨练习练课程，严格的体式、正位练习、动作分析等。是零基础瑜伽爱好者、上班族的首选课程，通过学习，你将学会一套完整的体式练习动作，可以自助通过瑜伽体式缓解身体的不适，比如肩膀紧、腰疼等问题，使你身体马甲线越来越明显，使你身心越来越愉快，风里雨里等您来TB瑜伽！</div>
                                    <div class="k-more"><a href="../762.html">点击了解详情>></a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="fix" style="height: 50px;"></div>

            <!-- 分页开始 -->
                        <!-- 分页结束 -->
            <div class="fix" style="height: 50px;"></div>

        </div>
    </div>


    <div class="bg-else wow fadeInUp">
        <div class="w1200">

            <div class="col-md-12 col-md-first col-md-last">
                <div class="row">

                    <div class="fix" style="height:50px;"></div>

                                        <div class="col-md-4 col-md-first">
                        <div class="sitewidget-bd">
                            <div class="else-m">
                                <p class="else-title">ABOUT COURSE</p>
                                <p class="else-second-title" data-wow-delay="0.5s">关于课程</p>
                                <p class="else-text" data-wow-delay="0.5s">学院专门针对瑜伽习练者开设瑜伽师资认证、一线导师提升工作坊等专业性课程</p>
                                <div class="fix" style="height: 20px;"></div>
                            </div>
                        </div>
                    </div>
                                        <div class="col-md-4 col-md-first">
                        <div class="sitewidget-bd">
                            <div class="else-m">
                                <p class="else-title">DETAILS</p>
                                <p class="else-second-title" data-wow-delay="0.5s">如何上课</p>
                                <p class="else-text" data-wow-delay="0.5s">每天9：00-18：00开设课程，上课请提前与工作人员联系</p>
                                <div class="fix" style="height: 20px;"></div>
                            </div>
                        </div>
                    </div>
                                        <div class="col-md-4 col-md-first">
                        <div class="sitewidget-bd">
                            <div class="else-m">
                                <p class="else-title">PROCESS</p>
                                <p class="else-second-title" data-wow-delay="0.5s">报名流程</p>
                                <p class="else-text" data-wow-delay="0.5s">1、添加课程老师；
2、预约线下测试；
3、填写入学申请表；
4、缴纳学费完成报名</p>
                                <div class="fix" style="height: 20px;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="fix" style="height:50px;"></div>

                </div>
            </div>
        </div>


    </div>


</div>

<!-- 内容main结束 -->


    <!--
        <h1 class="mt-2">{{ page.title }}</h1>

        <div class="intro">{{ page.intro|richtext }}</div>


        {% for post in coursepages %}
            {% with post=post.specific %}

                <div class="card mb-2">
                    <h4 class="card-header"><a href="{% pageurl post %}">{{ post.title }}</a></h4>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-auto">
                                {% with post.main_image as main_image %}
                                    {% if main_image %}
                                        <a href="{% pageurl post %}">
                                            {% image main_image fill-160x100 %}
                                        </a>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="col-auto mr-auto">

                                {% if post.intro %}
                                    {{ post.intro|richtext }}
                                {% else %}
                                    {{ post.body|richtext|truncatewords_html:80 }}
                                {% endif %}

                            </div>
                        </div>

                    </div>
                </div>

            {% endwith %}
        {% endfor %}

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if coursepages.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ coursepages.previous_page_number }}">&laquo;</a>
                    </li>
                {% endif %}
                {% for page_num in coursepages.paginator.page_range %}
                    <li {% if page_num == coursepages.number %} class="active page-item"{% endif %}>
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% endfor %}
                {% if coursepages.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ coursepages.next_page_number }}">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <hr>
        -->

{% endblock %}